*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  background-color: hsl(208, 8%, 16%);
  color: hsla(208, 16%, 96%, 0.96);
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 25%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%
    ),
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%
    ),
    repeating-linear-gradient(
      180deg,
      transparent,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 100%
    );
  background-size: 8rem 16rem;
}
body {
  min-height: 100%;
  letter-spacing: 0.025em;
  min-width: 20rem;
  background-color: hsla(208, 8%, 8%, 0.94);
  background: linear-gradient(
    to top,
    hsla(208, 8%, 8%, 0.9) 0%,
    hsla(208, 4%, 4%, 0.96) 100%
  );
  display: flex;
  align-items: center;
  margin: 0;
}
main {
  display: block;
  max-width: 38rem;
  margin: 0 auto;
  padding: 2rem;
}
h1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}
p {
  font-size: 1.125rem;
  margin: 0;
}
section {
  padding: 1rem 0;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
a {
  display: block;
  text-align: center;
  text-decoration: none;
  flex: 1 1 auto;
}
.nav-link {
  color: #e8eaed;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.64);
  padding: 0.75rem 1rem;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  max-width: 12rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.nav-link:active,
.nav-link:focus {
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px solid #e8eaed;
}
footer {
  display: flex;
  justify-content: center;
}
.icon-link {
  fill: #fff;
  max-width: 3rem;
  opacity: 0.86;
  margin: 0 1.5rem;
}
.icon-link:hover {
  opacity: 1;
}
@media screen and (max-width: 440px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .nav-link {
    margin: 1rem 0.5rem 2rem;
  }
}
@media screen and (max-width: 384px) {
  nav {
    display: block;
  }
  .nav-link {
    margin: 1rem auto 2rem;
  }
}
/**** Print ****/
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
/**** COIN Machine ****/
#activate-coin-machine {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#coin-machine-img {
  display: block;
  width: 100%;
  height: auto;
}
